body {
    font-family: 'Roboto Slab', serif;
}

h1, h2, h3 {
    font-family: 'Lobster', cursive;
}

img {
    border-radius: 20px;
}

footer img, header img {
    border-radius: 0;
}

p {
    text-align: justify;
}

/******** Main header ********/
.intro-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.intro-header p {
    width: 70%;
    margin: auto;
}

.intro-header img {
    margin: auto;
}


/******** Main article ********/
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-article {
    width: 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
}

h1::before {
    content: " ";
    display: inline-block;
    background-color: rgb(255, 123, 0);
    vertical-align: middle;
    margin-right: 10px;
    width: 2em;
    height: 2px;
}

h1::after {
    content: " ";
    display: inline-block;
    background-color: rgb(0, 183, 255);
    vertical-align: middle;
    margin-left: 10px;
    width: 2em;
    height: 2px;
}

.main-article figure {
    min-width: 300px;
}

.main-article figure img {
    width: 100%;
}


/******** Floated images ********/
.float-right {
    float: right;
    margin-left: 10px;
}

.float-left {
    float: left;
    margin-right: 10px;
}

p.left-border {
    padding-left: 10px;
    border-left: 0px solid rgba(0, 102, 218, 0.65);
    transition: all 0.2s ease-in-out;
}

p.left-border:hover {
    border-left: 7px solid rgba(0, 102, 218, 0.65);
}

p.right-border {
    padding-right: 10px;
    border-right: 0px solid rgba(0, 102, 218, 0.65);
    transition: all 0.2s ease-in-out;
}

p.right-border:hover {
    border-right: 7px solid rgba(0, 102, 218, 0.65);
}


/******** Side news ********/
.side-news {
    width: 30%;
    min-width: 300px;
    box-sizing: border-box;
}

.side-news article {
    padding: 10px;
    border: 0px solid rgb(255, 123, 0);
    transition: all 0.2s ease-in-out;
}

.side-news article:hover {
    border-left: 7px solid rgb(255, 123, 0);
}


/******** Other news ********/
.other-news {
    clear: both;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.other-news article {
    width: 33%;
    min-width: 300px;
    vertical-align: top;
}


/******** Lines ********/
hr {
    border: 2px dashed rgba(0, 102, 218, 0.65);
}

.other-line {
    border: 2px dashed rgba(255, 136, 0, 0.774);
}


/******** Footer ********/
footer {
    display: flex;
}